<div id="pop-up">
    <div id="pop-up-content">
        <h3>Enter a name to begin the game</h3>
        <form action="" id="set-user-name" method="post">
            <input autocomplete="off" id="set-user-input" type="text" value="player-two">
            <button>Start</button>
        </form>
    </div>
</div>