<div id="pop-up">
    <div id="pop-up-outer">
        <div id="pop-up-content">
            <h3>Enter a name </br>to begin the game</h3>
            <form action="" id="set-user-name" method="post">
                <input autocomplete="off" id="set-user-input" type="text" placeholder="Username" required>
                <button>Start</button>
            </form>
        </div>
    </div>
</div>