<div class="bars">
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
</div>
<audio controls="controls" autoplay loop>
    <source src="{{single.track.preview_url}}" type="audio/mpeg" />
</audio>