<div id="wait-for-track">
    <div id="wait-for-track-content">
        <div class="spinner">
            <div class="rect1"></div>
            <div class="rect2"></div>
            <div class="rect3"></div>
            <div class="rect4"></div>
            <div class="rect5"></div>
        </div>
        <h3> Wait for the </br>
            next round</h3>
    </div>
</div>