<section id="guess-content">
    <div id="message-user">
        {{> message-user }}
    </div>

    <div id="track-player">
        {{> track-player }}
    </div>

    <div id="track-guess">
        {{> track-guess }}
    </div>

    <div id="extra-content">
        <div id="message-players">
            Message players
        </div>

        <div id="track-history">
            <h3>Recently played</h3>
        </div>
    </div>
</section>