<section id="guess-content">
    <div id="message-user">
        {{> message-user }}
    </div>

    <div id="track-player">
        {{> track-player }}
    </div>

    <div id="track-guess">
        {{> track-guess }}
        {{> timer }}
    </div>

    <div id="extra-content">
        <div id="current-users">
            <h3>Current users</h3>

        </div>

        <div id="track-history">
            <h3>Recent tracks</h3>
            <div id="track-history-outer">
                <div id="track-history-holder"></div>
            </div>
        </div>
    </div>
    </div>
</section>