{{#if username}}
{{> userInfo }}
{{else}}
{{> setUserName }}
{{/if}}

<h1>Guess the track</h1>

<div id="message"></div>

<div id="timer">
    <div id="timer-inner"></div>
</div>

<div id="content">
    Wait for the next round
</div>

{{> guessInput}}

<h1>Recent tracks</h1>
<div id="history-songs"></div>

<script src="js/main.js"></script>

{{#unless username}}
<script src="js/setUser.js"></script>
{{/unless}}