{{#if username}}
{{> user-info}}
{{/if}}

<div id="content">
    {{#unless username}}
    {{> pop-up}}
    <script src="./js/username.js"></script>
    {{/unless}}

    {{> wait-for-track }}
</div>

<script type="module" src="js/main.js"></script>