{{#if username}}
{{> user-info}}
{{else}}
{{> pop-up}}
<script src="./js/username.js"></script>
{{/if}}


<div id="content">
    {{!-- {{> guess-layout }} --}}
    {{> wait-for-track }}
</div>

<script type="module" src="js/tracks.js"></script>