/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  line-height: 1; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

html {
  box-sizing: border-box; }

*,
*:before,
*:after {
  box-sizing: inherit; }

a {
  text-decoration: none;
  color: #fff; }

:root {
  --main-color: #ec3648;
  --main-second-color: #ec496f;
  --second-color: #f3a139;
  --white-color: #fff;
  --black-color: #030303;
  --black-light-color: #544b4a; }

.gradient-text, #logo h2, input[type='text']:valid, button:hover, #guess-content #track-guess button:hover {
  background: linear-gradient(60deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);
  background-size: 400% auto;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: shine 10s linear infinite reverse; }

@keyframes shine {
  to {
    background-position: 400% center; } }

.spinner {
  margin: 10px auto;
  width: 50px;
  height: 40px;
  text-align: center;
  font-size: 10px; }

.spinner > div {
  height: 100%;
  width: 6px;
  display: inline-block;
  animation: sk-stretchdelay 1.2s infinite ease-in-out; }
  .spinner > div:nth-child(1) {
    background: #f79533; }
  .spinner > div:nth-child(2) {
    background: #f37055; }
  .spinner > div:nth-child(3) {
    background: #ef4e7b; }
  .spinner > div:nth-child(4) {
    background: #a166ab; }
  .spinner > div:nth-child(5) {
    background: #5073b8; }
  .spinner > div:nth-child(6) {
    background: #1098ad; }
  .spinner > div:nth-child(7) {
    background: #07b39b; }
  .spinner > div:nth-child(8) {
    background: #6fba82; }

.spinner .rect2 {
  animation-delay: -1.1s; }

.spinner .rect3 {
  animation-delay: -1s; }

.spinner .rect4 {
  animation-delay: -0.9s; }

.spinner .rect5 {
  animation-delay: -0.8s; }

@keyframes sk-stretchdelay {
  0%,
  40%,
  100% {
    transform: scaleY(0.4); }
  20% {
    transform: scaleY(1); } }

#logo {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 10; }
  #logo h2 {
    font-size: 1.4rem;
    padding: 1rem 0;
    display: inline-block;
    position: relative;
    color: var(--white-color); }

#user-info {
  margin: 1rem 0 0 1rem;
  color: #fff; }

h2 {
  font-size: 2rem;
  font-weight: bold;
  font-family: 'Work Sans', sans-serif; }

h3 {
  font-size: 1.8rem;
  font-weight: bold;
  font-family: 'Work Sans', sans-serif;
  margin-bottom: 2rem;
  line-height: 31px;
  text-transform: uppercase;
  letter-spacing: 4px;
  color: var(--white-color); }

p {
  font-family: 'Work Sans', sans-serif;
  color: var(--white-color); }

form {
  width: 100%;
  display: flex; }

input[type='text'] {
  padding: 15px 7px;
  width: 100%;
  font-family: 'Work Sans', sans-serif;
  background: rgba(76, 175, 80, 0);
  color: var(--white-color);
  border: 2px solid var(--white-color);
  text-transform: uppercase;
  font-weight: bold;
  font-size: 17px;
  transition: all 0.2s;
  /* Awesome styling */ }
  input[type='text']:focus {
    border: 2px solid rgba(76, 175, 80, 0);
    border-bottom: 2px solid var(--white-color);
    border-right: 2px solid var(--white-color);
    outline: none; }
  input[type='text']:valid {
    border: 2px solid rgba(76, 175, 80, 0);
    border-bottom: 2px solid var(--white-color);
    border-right: 2px solid var(--white-color); }

#error-username {
  position: absolute;
  color: var(--main-color); }

button {
  margin-left: 3px;
  padding: 19px 37px;
  color: var(--white-color);
  background-color: var(--main-color);
  border: 2px solid var(--main-color);
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  transition: all 0.2s;
  cursor: pointer;
  font-weight: bold; }
  button:hover {
    background-color: var(--color-white);
    color: var(--main-color); }

#pop-up {
  background-color: var(--black-color);
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 5;
  width: 100%;
  left: 0; }
  #pop-up-outer {
    height: 250px;
    width: 500px;
    overflow: hidden; }
  #pop-up-content {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    padding: 0 4rem; }
    #pop-up-content h3 {
      color: var(--white-color);
      opacity: 0; }
    #pop-up-content form {
      opacity: 0; }

body {
  background-color: var(--black-color); }

#content {
  width: 80%;
  max-width: 750px;
  margin: 0 auto;
  transform: translateY(100px); }

#wait-for-track {
  height: 100%;
  width: 100%;
  background-color: var(--black-color);
  color: var(--main-color);
  display: flex;
  align-items: center;
  justify-content: center; }
  #wait-for-track-content {
    text-align: center; }
    #wait-for-track-content h3 {
      color: var(--white-color); }

#guess-content {
  display: flex;
  flex-direction: column;
  align-items: center; }
  #guess-content #message-user {
    height: 20px;
    margin-bottom: 20px;
    text-align: center;
    color: #fff; }
  #guess-content #track-player {
    max-width: 300px;
    width: 100%;
    border-bottom: 2px solid var(--white-color);
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: flex-end; }
    #guess-content #track-player audio {
      position: absolute;
      left: 0;
      top: 0;
      opacity: 0; }
    #guess-content #track-player .bars {
      display: flex;
      width: 100%;
      justify-content: space-around;
      max-width: 250px;
      overflow: hidden; }
      #guess-content #track-player .bars span {
        height: 50px;
        width: 16px; }
        #guess-content #track-player .bars span:nth-child(1) {
          background: #f79533; }
        #guess-content #track-player .bars span:nth-child(2) {
          background: #f37055; }
        #guess-content #track-player .bars span:nth-child(3) {
          background: #ef4e7b; }
        #guess-content #track-player .bars span:nth-child(4) {
          background: #a166ab; }
        #guess-content #track-player .bars span:nth-child(5) {
          background: #5073b8; }
        #guess-content #track-player .bars span:nth-child(6) {
          background: #1098ad; }
        #guess-content #track-player .bars span:nth-child(7) {
          background: #07b39b; }
        #guess-content #track-player .bars span:nth-child(8) {
          background: #6fba82; }
  #guess-content #track-guess {
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    #guess-content #track-guess h3 {
      font-size: 1.3rem;
      text-align: center;
      margin: 1rem 0;
      line-height: 23px; }
    #guess-content #track-guess button {
      background-color: var(--black-color);
      border: 2px solid var(--white-color); }
      #guess-content #track-guess button:hover {
        background-color: var(--color-white);
        color: var(--main-color); }
  #guess-content #extra-content {
    display: flex;
    width: 100%;
    margin-top: 2rem; }
  #guess-content #current-users {
    width: 100%;
    margin-right: 1rem; }
    #guess-content #current-users h3 {
      text-align: right; }
      #guess-content #current-users h3:first-child {
        font-size: 1.3rem;
        margin-bottom: 1rem; }
  #guess-content #track-history {
    width: 100%;
    margin-left: 1rem; }
    #guess-content #track-history h3 {
      text-align: left; }
      #guess-content #track-history h3:first-child {
        font-size: 1.3rem;
        margin-bottom: 1rem; }

#track-history-outer {
  overflow: hidden;
  height: 300px;
  width: 100%;
  position: relative; }

#track-history-holder {
  position: absolute;
  height: 100%; }

.history-track {
  display: flex;
  align-items: center;
  color: var(--white-color);
  text-decoration: none;
  margin-bottom: 0.5rem; }
  .history-track-cover {
    height: 50px;
    width: 50px;
    margin-right: 1rem; }
    .history-track-cover img {
      height: 100%; }
  .history-track-info {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column; }
    .history-track-info h2 {
      color: var(--white-color);
      margin: 0;
      font-size: 1.1rem;
      text-transform: uppercase;
      line-height: 1.2rem;
      letter-spacing: 1px;
      margin-bottom: 4px; }
    .history-track-info h3 {
      font-weight: 100;
      color: var(--white-color);
      margin: 0;
      text-transform: capitalize;
      font-size: 0.9rem;
      line-height: 0.9rem;
      letter-spacing: 0; }

#timer {
  height: 12px;
  width: 100%;
  margin-top: 1rem;
  overflow: hidden; }
  #timer-inner {
    height: 100%;
    width: 100%;
    background: linear-gradient(60deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82); }
