h2 {
  font-size: 2rem;
  font-weight: bold;
  font-family: 'Work Sans', sans-serif;
}

h3 {
  font-size: 1.8rem;
  font-weight: bold;
  font-family: 'Work Sans', sans-serif;
  margin-bottom: 2rem;
  line-height: 31px;
  text-transform: uppercase;
  letter-spacing: 4px;
  color: var(--white-color);
}
p {
  font-family: 'Work Sans', sans-serif;
  color: var(--white-color);
}
