form {
  width: 100%;
  display: flex;
}
input[type='text'] {
  padding: 15px 7px;
  width: 100%;
  font-family: 'Work Sans', sans-serif;
  background: rgba(76, 175, 80, 0);
  color: var(--white-color);
  border: 2px solid var(--white-color);
  text-transform: uppercase;
  font-weight: bold;
  font-size: 17px;
  transition: all 0.2s;
  &:focus {
    border: 2px solid rgba(76, 175, 80, 0);
    border-bottom: 2px solid var(--white-color);
    border-right: 2px solid var(--white-color);
    outline: none;
  }
  &:valid {
    border: 2px solid rgba(76, 175, 80, 0);
    border-bottom: 2px solid var(--white-color);
    border-right: 2px solid var(--white-color);
    @extend .gradient-text;
  }
  &:disabled {
    &::placeholder {
      color: #fff;
    }
    transition: all 0.7s;
    background: linear-gradient(
      60deg,
      #f79533,
      #f37055,
      #ef4e7b,
      #a166ab,
      #5073b8,
      #1098ad,
      #07b39b,
      #6fba82
    );
    background-size: 400% auto;
    animation: shine 10s linear infinite alternate-reverse;
    color: #fff;
    @keyframes shine {
      to {
        background-position: 400% center;
      }
    }
  }
  /* Awesome styling */
}
#error-username {
  position: absolute;
  color: var(--main-color);
}

button {
  margin-left: 3px;
  padding: 19px 37px;
  color: var(--white-color);
  background-color: var(--main-color);
  border: 2px solid var(--main-color);
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  transition: all 0.2s;
  cursor: pointer;
  font-weight: bold;
  &:hover {
    background-color: var(--color-white);
    color: var(--main-color);
    @extend .gradient-text;
  }
}
