#pop-up {
  background-color: var(--black-color);
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 5;
  width: 100%;
  left: 0;

  &-outer {
    height: 250px;
    width: 500px;
    overflow: hidden;
  }

  &-content {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    padding: 0 4rem;

    h3 {
      color: var(--white-color);
      opacity: 0;
    }

    form {
      opacity: 0;
    }
  }
}
