<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Spotify guesser</title>
    <link rel="stylesheet" type="text/css" href="/css/main.css" />

<body>
    {{{body}}}
</body>

<script src="/socket.io/socket.io.js"></script>
<script src="/scripts/anime.min.js"></script>

</html>